llamaapi==0.1.36
langchain-openai==0.2.9
langchain-anthropic==0.3.0
langchain-community==0.3.7
langchain-chroma==0.1.4
pydantic==2.9.2
pandas==2.2.3
rouge-score==0.1.2
anthropic==0.40.0
evaluate==0.4.3 ## huggingface lib
scipy==1.14.1
transformers==4.47.0
torch==2.5.1